<!DOCTYPE html>
<html>
<head>
  <title>Marta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <script type="text/javascript" src = "https:..maps.googleapis.com/maps/api/js?key=<%= ENV['AIzaSyD341nHh49lRQviaO_5tpy56WkvjFNibIg'] %>">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= yield %>
</div>

</body>
</html>
